<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="7.0.0" targetFramework="net46" />
  <package id="Bond.CSharp" version="7.0.0" targetFramework="net46" />
  <package id="Bond.Runtime.CSharp" version="7.0.0" targetFramework="net46" />
  <package id="Microsoft.Bing.Speech" version="2.0.2" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
</packages>